<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
		<title>Cobrança</title>
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
			<link rel="stylesheet" type="text/css" href="/css/style.css" />
			<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.standalone.min.css" />
</head>

<body>
	
	<header layout:include="cabecalho"></header>
	
	<!-- Essa seção serve para evitar a repetição de código.
		 As páginas que tiverem essa section terão as mesmas propriedades daqui. -->
	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>
	
	<footer layout:include="rodape"></footer>
	
	<!-- SCRIPTS -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/cobranca.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.js"></script>
	<script src="/js/jquery.maskMoney.min.js"></script>
</body>
</html>